doctype html
html(lang="pt-br")
    head
        title Página de erros!
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
    body
        header.padding-16.red
            h1.text-center Erro !!!!
        
        section.margin-10.light-gray
            h2.text-center Erros que ocorreram
            p.text-justify.text-indent-15=erro
            


    