footer.raisin-black.padding-16
    p.text-center 
        span Criado por 
            a(href="https://www.linktree.com.br/gusleaooliveira", class="text-blue text-red-hover") Gustavo Leão &copy; 
            span / outubro de  2020  
            