doctype html
html(lang='pt-br')
    head
        title Início
        meta(charset="ut-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
    body
        header.padding-16.raisin-black
            h1.text-center Início, seja bem vindo!
    
        include menu.pug

        include footer.pug