doctype html
html(lang='pt-br')
    head
        title Início
        meta(charset="ut-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
    body
        header.padding-16.teal
            h1.text-center Iníco, seja bem vindo!
    