nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/login/login") Login
    a(class="btn eggplant", href="/usuario/cadastrar") Usuário 
    a(class="btn eggplant", href="/tipo/cadastrar") Tipo  
    a(class="btn eggplant", href="/categoria/cadastrar") Categoria
    a(class="btn eggplant", href="/pacote/cadastrar") Pacote
    a(class="btn eggplant", href="/loja/") Loja
    a(class="btn eggplant", href="/login/logout") Logout
    
    