nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/login/login")  
        i.fas.fa-sign-out-alt Login
    a(class="btn eggplant", href="/usuario/cadastrar") 
        i.fas.fa-user Usuário 
    a(class="btn eggplant", href="/tipo/cadastrar") 
        i.fas.fa-user Tipo  
    a(class="btn eggplant", href="/categoria/cadastrar") 
        i.fas.fa-clipboard-list Categoria
    a(class="btn eggplant", href="/pacote/cadastrar") 
        i.fas.fa-mobile-alt Pacote
    a(class="btn eggplant", href="/loja/") 
        i.fas.fa-store Loja
    a(class="btn eggplant", href="/login/logout") 
        i.fas.fa-sign-in-alt Logout
    
    