nav(class="nav bar-mobile container raisin-black")
    a(class="btn eggpant", href="/login/login") Login
    a(class="btn eggpant", href="/usuario/cadastrar") Usuário 
    a(class="btn eggpant", href="/tipo/cadastrar") Tipo  
    a(class="btn eggpant", href="/categoria/cadastrar") Categoria
    a(class="btn eggpant", href="/pacote/cadastrar") Pacote
    a(class="btn eggpant", href="/loja/") Loja
    a(class="btn eggpant", href="/login/logout") Logout
    
    