doctype html
html(lang="pt-br")
    head
        title Página de sucesso!
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
    body
        header.padding-16.green
            h1.text-center Sucesso !!!!
        
        section.margin-10.light-gray
            h2.text-center Sucesso ao salvar
            p.text-justify.text-indent-15=sucesso
            


    