doctype html
html(lang="pt-br")
    head
        title Alterar categoria
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
        script(src="/static/formulario.js")
    body
        header.padding-16.raisin-black
            h1.text-center Alterar categoria
        
        include menu.pug

        section.margin-10.light-gray
            div.card
                h3.padding-16.raisin-black.text-center Formulário de alterar  categoria
                div.padding-16
                    form(method="post", id="formAlterar", action="/categoria/", onsubmit="return bloquear()")
                        label(for="id") Selecione qual deseja alterar:
                        select(id="id", name="id", class="input white border-bottom-blue-focus")
                            each item in categoria
                                option(value=item.id) #{item.categoria} 

                        label(for="categoria") Categoria:
                        input(type="text", name="categoria", id="categoria", class="input white border-bottom-blue-focus", placeholder="Digite a categoria do aplicativo")
                        br
                        input(type="submit", class="btn btn-block orange", onclick="enviar('PUT', 'categoria')", value="Alterar")


    