nav(class="nav bar-mobile container raisin-black")
    a(class="btn eggpant", href="/") Início
    a(class="btn eggpant", href="/categoria/cadastrar") Cadastrar categoria
    a(class="btn eggpant", href="/categoria/alterar") Alterar categoria
    a(class="btn eggpant", href="/categoria/listar") Listar categoria
    a(class="btn eggpant", href="/categoria/apagar") Apagar categoria
    a(class="btn eggpant", href="/loja/") Loja
    a(class="btn eggpant", href="/login/logout") Logout
