nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/") 
        i.fas.fa-home Início
    a(class="btn eggplant", href="/categoria/cadastrar") 
        i.fas.fa-clipboard-check Cadastrar
    a(class="btn eggplant", href="/categoria/alterar") 
        i.far.fa-clipboard Alterar categoria
    a(class="btn eggplant", href="/categoria/listar") 
        i.fas.fa-clipboard-list Listar
    a(class="btn eggplant", href="/categoria/apagar") 
        i.fas.fa-clipboard Apagar categoria
    a(class="btn eggplant", href="/loja/")
        i.fas.fa-store  Loja
    a(class="btn eggplant", href="/login/logout") 
        i.fas.fa-sign-in-alt  Logout
