doctype html
html(lang="pt-br")
    head
        title Listar pacotes
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
        script(src="https://kit.fontawesome.com/089953a984.js", crossorigin="anonymous")
    body
        header.padding-16.raisin-black
            h1.text-center Listar pacotes
        
        include menu.pug

        section.margin-10.light-gray
            div.card
                h3.padding-16.raisin-black.text-center Formulário de listar  pacotes
                div.padding-16
                    ul
                        each item in pacote
                            li #{item.nome} 

        include ../footer.pug

    