nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/") Início
    a(class="btn eggplant", href="/pacote/cadastrar") Cadastrar pacote
    a(class="btn eggplant", href="/pacote/alterar") Alterar pacote
    a(class="btn eggplant", href="/pacote/listar") Listar pacote
    a(class="btn eggplant", href="/pacote/apagar") Apagar pacote
    a(class="btn eggplant", href="/loja/") Loja
    a(class="btn eggplant", href="/login/logout") Logout
