nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/") 
        i.fas.fa-home Início
    a(class="btn eggplant", href="/pacote/cadastrar")
        i.fas.fa-mobile-alt  Cadastrar 
    a(class="btn eggplant", href="/pacote/alterar") 
        i.fas.fa-mobile-alt Alterar 
    a(class="btn eggplant", href="/pacote/listar") 
        i.fas.fa-mobile-alt Listar
    a(class="btn eggplant", href="/pacote/apagar") 
        i.fas.fa-mobile-alt Apagar
    a(class="btn eggplant", href="/loja/") 
        i.fas.fa-store Loja
    a(class="btn eggplant", href="/login/logout")  
        i.fas.fa-sign-in-alt Logout
