nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/login/login") 
        i.fas.fa-sign-out-alt   Login
    a(class="btn eggplant", href="/loja/") 
        i.fas.fa-store Início 
    a(class="btn eggplant", href="/login/logout")  
        i.fas.fa-sign-in-alt Logout
    
    