nav(class="nav bar-mobile container raisin-black")
    a(class="btn eggpant", href="/login/login") Login
    a(class="btn eggpant", href="/loja/") Início 
    a(class="btn eggpant", href="/loja/programa") Pesquisar um aplicativo 
    a(class="btn eggpant", href="/loja/categoria") Pesquisar uma categoria
    a(class="btn eggpant", href="/login/logout") Logout
    
    