nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/login/login") Login
    a(class="btn eggplant", href="/loja/") Início 
    //- a(class="btn eggplant", href="/loja/programa") Pesquisar um aplicativo 
    //- a(class="btn eggplant", href="/loja/categoria") Pesquisar uma categoria
    a(class="btn eggplant", href="/login/logout") Logout
    
    