doctype html
html(lang="pt-br")
    head
        title Apagar Tipo de Usu치rio
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
        script(src="/static/formulario.js")
    body
        header.padding-16.raisin-black
            h1.text-center Apagar  Tipo de Usu치rio
        
        include menu.pug

        section.margin-10.light-gray
            div.card
                h3.padding-16.raisin-black.text-center Formul치rio para apagar  tipo de  usu치rios
                div.padding-16
                    form(method="post", action="/tipo/", onsubmit="return bloquear()")
                        label(for="id") Selecione qual deseja apagar:
                        select(id="id", name="id", class="input white border-bottom-blue-focus")
                            each item in tipo
                                option(value=item.id) #{item.tipo} 

                        br
                        input(type="submit", class="btn btn-block red", onclick="enviar('DELETE', 'tipo')", value="Apagar")

        include ../footer.pug

    