doctype html
html(lang="pt-br")
    head
        title Listar Tipo de Usuário
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
    body
        header.padding-16.blue
            h1.text-center Listar
        
        include menu.pug

        section.margin-10.light-gray
            div.card
                h3.padding-16.blue.text-center Formulário de listar  tipo de novos usuários
                div.padding-16
                    ul
                        each item in tipo
                            li #{item.tipo} 



    