nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/") Início
    a(class="btn eggplant", href="/tipo/cadastrar") Cadastrar tipo
    a(class="btn eggplant", href="/tipo/alterar") Alterar tipo
    a(class="btn eggplant", href="/tipo/listar") Listar tipo
    a(class="btn eggplant", href="/tipo/apagar") Apagar tipo
    a(class="btn eggplant", href="/loja/") Loja
    a(class="btn eggplant", href="/login/logout") Logout
