nav(class="nav bar-mobile container raisin-black")
    a(class="btn eggpant", href="/") Início
    a(class="btn eggpant", href="/tipo/cadastrar") Cadastrar tipo
    a(class="btn eggpant", href="/tipo/alterar") Alterar tipo
    a(class="btn eggpant", href="/tipo/listar") Listar tipo
    a(class="btn eggpant", href="/tipo/apagar") Apagar tipo
    a(class="btn eggpant", href="/loja/") Loja
    a(class="btn eggpant", href="/login/logout") Logout
