doctype html
html(lang="pt-br")
    head
        title Listar usu치rios
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
    body
        header.padding-16.raisin-black
            h1.text-center Listar usu치rios
        
        include menu.pug

        section.margin-10.light-gray
            div.card
                h3.padding-16.raisin-black.text-center Formul치rio de listar  usu치rios
                div.padding-16
                    ul
                        each item in usuario
                            li #{item.nome} 


