nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/") Início
    a(class="btn eggplant", href="/usuario/cadastrar") Cadastrar usuário
    a(class="btn eggplant", href="/usuario/alterar") Alterar Usuário
    a(class="btn eggplant", href="/usuario/listar") Listar Usuário
    a(class="btn eggplant", href="/usuario/apagar") Apagar Usuário
    a(class="btn eggplant", href="/loja/") Loja
    a(class="btn eggplant", href="/login/logout") Logout
