nav(class="bar bar-mobile container raisin-black")
    a(class="btn eggplant", href="/") 
        i.fas.fa-home Início
    a(class="btn eggplant", href="/usuario/cadastrar")
        i.fas.fa-user-plus Cadastrar 
    a(class="btn eggplant", href="/usuario/alterar")
        i.fas.fa-user-edit Alterar 
    a(class="btn eggplant", href="/usuario/listar") 
        i.fas.fa-user-tag Listar 
    a(class="btn eggplant", href="/usuario/apagar")
        i.fas.fa-user-alt-slash Apagar 
    a(class="btn eggplant", href="/loja/") 
        i.fas.fa-store Loja
    a(class="btn eggplant", href="/login/logout")  
        i.fas.fa-sign-in-alt Logout
