doctype html
html(lang="pt-br")
    head
        title Cadastro de tipo de usuáro!
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/hcw.min.css")
    body
        header.padding-16.green
            h1.text-center Sucesso!
        
        section.margin-10.light-gray
            h2.text-center Sucesso ao salvar o tipo de sucesso!
            p.text-justify.text-indent-15 O tipo: #[b #{tipo.tipo}] foi cadastrado com sucesso!
            


    